In [58]:
#Create Dataframe
import pandas
names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]
Friends={'names':names, 'woman':woman, 'ages' :ages, 'country':country, 'education':education}
Friends = pandas.DataFrame(Friends)
Friends

     names  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [65]:
#Create a list of tuples, where each tuple is a pair (name,country), using comprehensions
tuplelist = tuple(zip(names,country))
tuplelist

listofTuples = [(x, y) for (x, y) 
                in zip(Friends.names, Friends.country)]
listofTuples

[('Tom치s', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

In [67]:
#Implement a for loop to count how many peruvian there are in the data frame. Try using not in one solution and ~ in another one.
Perucounter=0
for country in Friends['country']:
    if country == 'Peru':
        Perucounter +=1
Perucounter

Perucounter2=len(Friends['country'])    
for country in Friends['country']:
    if not country == 'Peru':
        Perucounter2 -=1
        
Perucounter2
      
Friends.where(Friends.country=='Peru').dropna().shape[0]
#Shape gives me only the first value in the output

2

In [47]:
#Implement a for loop to get the count of men. Try using not in one solution and ~ in another one.
#shape gives me only the first value in the outpu

In [73]:
Malecounter=0
for woman in Friends['woman']:
    if woman == False:
        Perucounter +=1
Malecounter

Malecounter2=len(Friends.woman)    
for woman in Friends.woman:
    if not woman == False:
        Malecounter2 -=1
        
Malecounter2

#Malecounter1=0
#for man in ~Friends.woman:
#    if man:
#        Malecounter1 +=1
#Malecounter2

#Friends.where(Friends.woman == False).dropna().shape[0]
#for woman in friends.woman:
#    if not woman:
#       counterofMen +=1
#tilde is a reverser.

4